body{
	padding: 0;
	margin: 0;
}

.wrapper{
	width: 100%;

}
.left-util{
	width: 30%;
	display: inline-block;
	vertical-align: top;
}
.right-pre{
	padding: 20px;
	width: 60%;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	height: calc(100vh - 80px);
	border: 1px solid #FFCCCC;
	overflow: auto;
}
.util{
	padding: 10px;
	margin: 10px;
	font-family: '微软雅黑',Helvetica, Arial, sans-serif;
	background-color: #FFCCCC;
	color: white;
	line-height: 2em;
}
.util .util-cap{
	color: #FF6666;
	font-size: 1em;
	margin: 0;

}
.util input[type='text']{
	color: #FF6666;
	width: 70%;
	background-color: white;
	border: none;
	line-height: 20px;
	height: 20px;
	font-size: 0.8em;
	font-family: '微软雅黑',Helvetica, Arial, sans-serif;

}
.util input:focus{
	outline: none;
}
.util select{
	border:none;
	width: 10em;
	color: #FF6666;
	font-family: '微软雅黑',Helvetica, Arial, sans-serif;
	line-height: 20px;
	font-size: 14px;
}
.util select:hover{
	outline: none;
	background-color: #FF6666;
	color: white;
}
.util select:focus{
	outline: none;
}
#addBtn{
	border: none;
	width: 5em;
	border-radius: 10px;
	margin-left: 10px;
	background-color: #FF6666;
	color: white;
	font-family: '微软雅黑',Helvetica, Arial, sans-serif;
	line-height: 2em;
	font-size: 1em;
}

#pre-cap{
	color: #FF6666;
	font-family: '微软雅黑',Helvetica, Arial, sans-serif;
	text-align: center;
}
#final-pre{
	width: 100%;
}
#final-pre input[type='submit']{
	border: 1px solid transparent;
	background-color: #FF6666;
	font-family: '微软雅黑',Helvetica, Arial, sans-serif;
	line-height: 2em;
	color: white;
	font-size: 1em;
	width: 10em;
	border-radius: 5px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	display: block;
}
#final-pre input[type='submit']:hover{
	background-color: white;
	color: #FF6666;
	font-style: bold;
	border: 1px solid #FF6666;
}
#final-pre input[type='submit']:focus{
	outline: none;
}
#options-panel{
	padding: 0;
}
.option{
	display: inline-block;
	line-height: 1.6em;
	background-color: white;
	color: #FF6666;
	font-size: 14px;
	font-weight: bold;
	margin: 4px 4px 0 0;
	padding: 4px;
}
.form-control{
	width: 100%;
	margin-top:20px;
	font-family: '微软雅黑',Helvetica, Arial, sans-serif;

}
.formCtr-label{
	display: inline-block;
	width: 31%;
	text-align: right;
	color: #FF6666;
	vertical-align: top;

}
.formCtr-input{
	display: inline-block;
	margin-left: 20px;
	font-family: '微软雅黑',Helvetica, Arial, sans-serif;


}
.formCtr-input input[type='text'], .formCtr-input input[type='email'],.formCtr-input input[type='password']{
	background-color: #FFCCCC;
	color: white;
	padding: 6px;
	border-radius: 6px;
	font-size: 0.8em;
	border: none;
	width: 20em;

}
.formCtr-input input[type='text']:focus{
	outline: none;
}
.formCtr-input label{
	color: #FF6666;
	margin-left: 10px;
}

textarea{
	vertical-align: text-top;
	resize: none;
	width: 300px;
	height: 150px;
	background-color: #FFCCCC;
	color: white;
	padding: 6px;
	border-radius: 6px;
	font-size: 0.8em;
	border: none;
}
textarea:focus{
	outline: none;
}
#pre-cap-modify{
	background-color: #FFCCCC;
	color: white;
	outline: none;
	border: none;
	border-radius: 6px;
	line-height: 31px;
	margin: 20px auto;
	width: 80%;
	text-align: center;
	font-size: 1.2em;
	display: block;
	font-family: '微软雅黑',Helvetica, Arial, sans-serif;

}
p.addInfo{
	line-height: 0.8em;
	font-size: 0.8em;
	margin-bottom: 0;
}
p.addInfo.info-normal{
	color: #CCCCCC;
}
p.addInfo.info-warn{
	color: #FF0000;
}
p.addInfo.info-ok{
	color: #99CC66;
}
div.delBtn {
	font-size: 0.8em;
	background-color: #FF6666;
	color: white;
	padding: 8px;
	border-radius: 4px;
	display: inline-block;
	margin-top: 8px;
}